.screen-container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
  padding: 1rem;
}

.screen-container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-block-end: 3rem;
}

.screen-container__login-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
