<stol-base-login>
  <h2 class="login-container__title">Авторизация</h2>

  <form class="login-container__form" [formGroup]="loginForm">
    <div class="form__inputs-container">
      <tui-textfield class="form__input">
        <label tuiLabel htmlFor="name-input">Email</label>
        <input id="name-input" placeholder="Введите email" tuiTextfield type="text" formControlName="email" autocomplete="email" />
      </tui-textfield>
      <tui-textfield class="form__input">
        <label tuiLabel htmlFor="password-input">Пароль</label>
        <input
          id="password-input"
          placeholder="Введите пароль"
          tuiTextfield
          type="password"
          formControlName="password"
          autocomplete="current-password"
        />
        <tui-icon tuiPassword />
      </tui-textfield>
    </div>

    <div class="screen-container__buttons-container">
      <div class="buttons-container__register-container">
        <span class="register-container__text">Нет аккаунта?</span>
        <a class="register-container__link" [routerLink]="'/' + appRoutes.Registration">Зарегистрироваться</a>
      </div>

      <button tuiButton type="submit" iconStart="@tui.log-in" [disabled]="loginForm.invalid" [loading]="isLoginSent" (click)="login()">
        <span>Войти</span>
      </button>
    </div>
  </form>
</stol-base-login>
