<div class="reservations-container">
  <div tuiCardLarge tuiAppearance="floating" class="card">
    <div tuiHeader>
      <h2 tuiTitle>Комната 1</h2>
    </div>
    <div class="main-office-container">
      @let group1Columns = splitIntoColumns(mainOfficeGroup1(), 6);
      <div class="tables-group__row">
        <div class="container-vertical">
          @for (desk of group1Columns[0]; track desk.id) {
            <pp-table [desk]="desk" (click)="openReserveViewDialog(desk.id)"></pp-table>
          }
        </div>
        <div class="container-vertical">
          @for (desk of group1Columns[1]; track desk.id) {
            <pp-table [desk]="desk" (click)="openReserveViewDialog(desk.id)"></pp-table>
          }
        </div>
      </div>
      @let group2Columns = splitIntoColumns(mainOfficeGroup2(), 6);
      <div class="tables-group__row">
        <div class="container-vertical">
          @for (desk of group2Columns[0]; track desk.id) {
            <pp-table [desk]="desk" (click)="openReserveViewDialog(desk.id)"></pp-table>
          }
        </div>
        <div class="container-vertical">
          @for (desk of group2Columns[1]; track desk.id) {
            <pp-table [desk]="desk" (click)="openReserveViewDialog(desk.id)"></pp-table>
          }
        </div>
      </div>
    </div>
  </div>

  <div tuiCardLarge tuiAppearance="floating" class="card">
    <div tuiHeader>
      <h2 tuiTitle>Комната 2</h2>
    </div>

    <div class="second-office-container">
      <div class="tables-group">
        @let secondGroup1Columns = splitIntoColumns(secondOfficeGroup1(), 4);
        <div class="tables-group__row">
          <div class="container">
            @for (desk of secondGroup1Columns[0]; track desk.id) {
              <pp-table [desk]="desk" (click)="openReserveViewDialog(desk.id)"></pp-table>
            }
          </div>
          <div class="container">
            @for (desk of secondGroup1Columns[1]; track desk.id) {
              <pp-table [desk]="desk" (click)="openReserveViewDialog(desk.id)"></pp-table>
            }
          </div>
        </div>
        <div class="tables-group__lonely-wrapper">
          @for (desk of secondOfficeLonely(); track desk.id) {
            <pp-table class="tables-group__lonely-table" [desk]="desk" (click)="openReserveViewDialog(desk.id)"></pp-table>
          }
        </div>
      </div>

      @let secondGroup2Columns = splitIntoColumns(secondOfficeGroup2(), 3);
      <div class="tables-group__row">
        <div class="container-vertical">
          @for (desk of secondGroup2Columns[0]; track desk.id) {
            <pp-table [desk]="desk" [reserved]="true"></pp-table>
          }
        </div>
        <div class="container-vertical">
          @for (desk of secondGroup2Columns[1]; track desk.id) {
            <pp-table [desk]="desk" [reserved]="true"></pp-table>
          }
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
