<div class="reservations-container">
  <div tuiCardLarge tuiAppearance="floating" class="card">
    <div tuiHeader>
      <h2 tuiTitle>Основной офис</h2>
    </div>
    <div class="main-office-container">
      <div class="tables-group__row">
        <div class="container-vertical">
          <stol-table name="Table 1"></stol-table>
          <stol-table name="Table 2"></stol-table>
          <stol-table name="Table 3"></stol-table>
          <stol-table name="Table 4"></stol-table>
          <stol-table name="Table 5"></stol-table>
          <stol-table name="Table 6"></stol-table>
          <stol-table name="Table 7"></stol-table>
        </div>
        <div class="container-vertical">
          <stol-table name="Table 8"></stol-table>
          <stol-table name="Table 9"></stol-table>
          <stol-table name="Table 10"></stol-table>
          <stol-table name="Table 11"></stol-table>
          <stol-table name="Table 12"></stol-table>
          <stol-table name="Table 13"></stol-table>
          <stol-table name="Table 14"></stol-table>
        </div>
      </div>
      <div class="tables-group__row">
        <div class="container-vertical">
          <stol-table name="Table 15"></stol-table>
          <stol-table name="Table 16"></stol-table>
          <stol-table name="Table 17"></stol-table>
          <stol-table name="Table 18"></stol-table>
          <stol-table name="Table 19"></stol-table>
          <stol-table name="Table 20"></stol-table>
          <stol-table name="Table 21"></stol-table>
        </div>
        <div class="container-vertical">
          <stol-table name="Table 22"></stol-table>
          <stol-table name="Table 23"></stol-table>
          <stol-table name="Table 24"></stol-table>
          <stol-table name="Table 25"></stol-table>
          <stol-table name="Table 26"></stol-table>
          <stol-table name="Table 27"></stol-table>
          <stol-table name="Table 28"></stol-table>
        </div>
      </div>
    </div>
  </div>

  <div tuiCardLarge tuiAppearance="floating" class="card">
    <div tuiHeader>
      <h2 tuiTitle>Дополнительный офис</h2>
    </div>

    <div class="second-office-container">
      <div class="tables-group">
        <div class="tables-group__row">
          <div class="container">
            <stol-table name="Table 29"></stol-table>
            <stol-table name="Table 30"></stol-table>
            <stol-table name="Table 31"></stol-table>
            <stol-table name="Table 32"></stol-table>
            <stol-table name="Table 33"></stol-table>
          </div>
          <div class="container">
            <stol-table name="Table 34"></stol-table>
            <stol-table name="Table 35"></stol-table>
            <stol-table name="Table 36"></stol-table>
            <stol-table name="Table 37"></stol-table>
            <stol-table name="Table 38"></stol-table>
          </div>
        </div>
        <div class="tables-group__lonely-wrapper">
          <stol-table class="tables-group__lonely-table" name="Table 11"></stol-table>
        </div>
      </div>

      <div class="tables-group__row">
        <div class="container-vertical">
          <stol-table name="Table 39" [reserved]="true"></stol-table>
          <stol-table name="Table 40"></stol-table>
          <stol-table name="Table 41"></stol-table>
        </div>
        <div class="container-vertical">
          <stol-table name="Table 42"></stol-table>
          <stol-table name="Table 43"></stol-table>
          <stol-table name="Table 44"></stol-table>
        </div>
      </div>
    </div>
  </div>
</div>
