.info-container {
  padding: var(--tui-padding-l);
  margin: 0 auto;
}

.info-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: var(--tui-padding-l);
  color: var(--tui-text-01);
}

.empty-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--tui-padding-l);
  padding: var(--tui-padding-xl);
  background-color: var(--tui-base-02);
  border-radius: var(--tui-radius-m);
  border: 1px solid var(--tui-base-03);
  margin-block-start: var(--tui-padding-l);
}

.empty-state-container p {
  font-size: 16px;
  color: var(--tui-text-02);
  margin: 0;
}

.reservations-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
