.day-slots {
  display: flex;
  flex-direction: column;
}

.day-slots__scrollbar {
  max-block-size: 600px;
}

.day-slots__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  padding-inline-end: var(--tui-padding-l);
}

.list__item {
  list-style: none;
}
