.register-container__title {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-feature-settings: 'liga' off;
  color: rgba(27, 31, 59, 0.8);
  margin: 0;
}

.register-container__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.form__inputs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.35rem;
}

.form__input,
.form__button {
  inline-size: 380px;
}

.screen-container__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  inline-size: 100%;
}

.buttons-container__register-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.register-container__link {
  text-decoration: none;
  color: var(--tui-text-action);
}
