<ng-template let-observer [tuiDialogOptions]="{ label: 'Просмотр бронирования', size: 'l' }" [(tuiDialog)]="opened">
  <div class="reserve-view-dialog-container">
    <form [formGroup]="dateForm">
      <tui-input-date formControlName="date">
        Выберите дату
        <input tuiTextfieldLegacy />
      </tui-input-date>
    </form>

    <tui-tabs [(activeItemIndex)]="activeItemIndex">
      <button tuiTab>На час</button>
      <button tuiTab>На день</button>
    </tui-tabs>

    <div class="picker-container">
      @if (activeItemIndex() === reservationTab.Hour) {
        <pp-hour-picker [desk]="desk()" [date]="dateForm.controls.date.value.toUtcNativeDate()"></pp-hour-picker>
      } @else {
        <pp-day-picker [desk]="desk()" [date]="dateForm.controls.date.value.toUtcNativeDate()"></pp-day-picker>
      }
    </div>
  </div>
</ng-template>
